<div class="row">
  <div class="col-md-9">
    <h2 class="main-title"><%= @title.capitalize%></h2>
      <% @articles.each do |article| %>
          <div class="panel panel-default news-article">
            <div class="row">
              <div class="col-md-9">
                <h3 class="article-title"><%= link_to article.title, category_article_path(@title, article.slug)%></h3>
                <p class="article-text"><%= article.summary %></p>
                <small class="source">Read more at <a target='_blank' href=<%= article.url %>>The Hindu</a></small>
              </div>
              <div class="col-md-3">
                <% if !article.img.nil? %>
                  <img src=<%= article.img %> class="article-img pull-left">
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
</div>