<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/assets/logo.ico"> 
  <title>newSummary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="Summarizer">
<%= render 'layouts/messages' %>
<%= render 'layouts/navigation' %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
